*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    marign: 0;
    padding: 5px;
    border: 15px solid rgb(220,230,249);
}
p{
    color:black;
    text-align: center;
}
#zero{
    margin:10px;
    padding:10px;
}
.logo{
    margin:0;
    font-size:28px;
    text-transform:uppercase;
    color:navy;
}
span{
    font-weight:bolder;
    text-shadow: 2px 2px 4px rgba(0,0,128, 0.5)
}
span.logo{
    font-family: 'Courier New', Courier, monospace;
}
.fat{
    font-weight: 900;
    font-size: 36px;
}
.thin{
    font-weight:200;
    font-size:32px;
    letter-spacing: 3px;
}
#border{
    margin: 10px auto;
    padding: 10px;
    border-top: 3px double navy;
    border-bottom: 1px solid navy;
    font-size:larger;
}
li#none{
    list-style-type: none;
}
li#circle{
    list-style-type: circle;
}
li#disc{
    list-style-type: disc;
}
li#square{
    list-style-type: square;
}
.b-sh{
    margin:20px auto;
    padding: 5px 30px;
    width:70%;
    max-height:400px;
    border:2px solid navy;
    background-color:rgb(220,230,249);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5)
}
li#decimal{
    list-style-type: decimal;
}
li#l-zero{
    list-style-type:decimal-leading-zero;
}
li#lower-r{
    list-style-type:lower-roman;
}
li#upper-r{
    list-style-type:upper-roman;
}
li#lower-a{
    list-style-type:lower-alpha;
}
li#upper-a{
    list-style-type:upper-alpha;
}
li::marker{
    font-weight:bold;
    font-size:larger;
    font-family:'Courier New', Courier, monospace;
}
.radius{
    border-radius:15px;
}
ul#movie{
    list-style-image: url(../images/movie.png);
}
ul#auto{
    list-style-image: url(../images/samochod.png);
}
.teardrop-l{
    width: 50%;
    border-top-left-radius: 75px;
    border-bottom-right-radius: 75px;
    text-align:left;
}
ul#outside{
    list-style-position: outside;
}
.teardrop-r{
    width: 50%;
    border-bottom-left-radius: 75px;
    border-top-right-radius: 75px;
    text-align:right;
}
ol#inside{
    list-style-position: inside;
}
.summary{
    margin: 20px auto;
    padding: 20px;
    background-color:rgb(220,230,249);
    width: 200px;
    height: 200px;
    border:2px solid navy;
    border-radius: 200px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5)
}
.summary h2{
    text-align:center;
}
ul#all{
    list-style: inside circle;
}