body{
    background-image:url(photo-1497515114629-f71d768fd07c.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color:rgb(240,215,171);
}
h1, h2, p{
    text-align:center;
    color:white;
}
div{
    width: 100px;
    height: 100px;
    margin-left:80%
}
div.gradient{
    background-image: linear-gradient(to bottom right, #6f4e37, #c2b280);

}
div.color{
    background-color:#fffaf0;
}
div.img{
    background-image:url(premium_photo-1675435644687-562e8042b9db.jpg);
        background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}