body{
    background-color:black;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    color:white;
}
div{
    width:200px;
    height:200px;
}
div#size{
    width:300px;
    height:300px;
    background-color:#bd0f57;
}
#p-size{
    width:75%; /* height będzie dostępna w 100% lub więcej */
    background-color:gray;
}
div#border-width{
    background-color:lime;
    border-style:solid;
    border-color:blueviolet;
    border-top-width: 10px;
    border-bottom-width: 10px;
}
div#border-width-short{
    background-color:navy;
    border-style:dashed;
    border-color:orange;
    border-width: 5px 10px 15px 20px;
}
div#border-color{
    background-color:beige;
    border-style:dotted;
    border-width: 15px;
    border-top-color:pink;
    border-right-color:#ff889c;
    border-bottom-color: #ff5773;
    border-left-color:#c23260;
}
div#border-color-short{
    background-color:burlywood;
    border-style: groove;
    border-width: 15px;
    border-color: lightyellow yellow orange orangered;
}
div#border{
    background-color: violet;
    border: 10px double red;

}
div#border-radius-1{
    background-color:gold;
    border-radius: 20px;
    border: 5px solid green;
}
div#border-radius-2{
    background-color:indianred;
    border-width: 10px 20px;
    border-style:ridge;
    border-color:#307fff;
    border-top-right-radius:20%;
    border-bottom-left-radius: 20%;
}
div#border-radius-3{
    background-color:pink;
    border: 10px dashed;
    border-color: lime gold blue red;
    border-radius: 50%;

}