*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
body{
    margin: 0;
    padding: 5px;
    border: 15px solid rgb(220,230,249)
}
p{
    color:black;
    text-align: center;
}
#zero{
    margin: 10px;
    padding: 10px;
}
.logo{
    margin: 0px;
    font-size:28px;
    text-transform: uppercase;
    color:navy;
}
.fat{
    font-weight: 900;
    font-size: 36px;
}
.thin{
    font-size:200;
    font-size:32px;
    letter-spacing: 3px;
}